# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Mac
.DS_Store
__MACOSX/

# Virtual environments
.venv/
venv/
env/

# Course datasets and generated CSVs should stay local
data/raw/*.csv
data/processed/*.csv
data/submissions/*.csv

# Large temporary model files
*.pkl
*.joblib
*.log

# Final zip should be created only at the end
final_submission/*.zip